<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, quaerat corporis. Voluptates minus porro, excepturi
  architecto omnis qui numquam fuga nemo cumque eum! Expedita animi eos voluptate, officia aliquid a.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias aliquid aliquam, voluptatem atque quos temporibus non
  saepe, nulla dolores neque possimus vitae eveniet illum porro dolor quia reprehenderit, est et.Consectetur rerum
  reiciendis numquam repellat maiores vitae! Excepturi earum quas quisquam ad at, ipsam deleniti. Odit illo cumque,
  praesentium deserunt delectus, necessitatibus vitae magnam adipisci quisquam ut at excepturi quod.</p>
